.twelve.columns
	%h1 Message

	%p 
		<strong>Sender:</strong> #{@message.sender.name}
	%p
		<strong>Recipient:</strong> #{@message.recipient.name}

	%h5
		<strong>Title:</strong> #{@message.subject}
	%p= @message.body

	= link_to "reply", new_person_message_path(@message.sender,  message_id: @message), :class => "radius button"