%h1 Message

%p= "Sender: #{@message.sender.name}"
%p= "Recipient: #{@message.recipient.name}"

%h3= @message.subject
%p= @message.body

= link_to "reply", new_person_message_path(@message.sender,  message_id: @message)