.twelve.columns
  %h1 Find
  = simple_form_for User.new, url: find_path, method: :get do |f|
    = f.input :city, input_html: { value: (params[:user].present? ? params[:user][:city] : "") }
    = f.button :submit, "Search", id: "user_search", :class => "radius button"

  %h2 Or find place!
  = form_tag url: find_path, method: :get do
    = label_tag 'location[city]', "City"
    = text_field_tag "location[city]"
    %br
    = label_tag "place[name]", "Name"
    = text_field_tag "place[name]"
    %br
    = submit_tag "Serach", id: "place_search"
