= stylesheet_link_tag "event_calendar"
= javascript_include_tag "event_calendar"

= raw(event_calendar)

%hr

= simple_form_for Event.new do |f|
  .row
    .four.columns
      = f.input :name
      = f.input :description
      = f.input :event_type
      = f.button :submit, :class => "radius button"
    .four.columns
      = f.input :start_at
    .four.columns
      = f.input :end_at
%hr