.fullContent
  .row
    %div{ class: "twelve columns" }
      -# Entire Navbar Code
      %ul.nav-bar
        %li.active
          = link_to "Gym App", root_path
        %li
          = link_to "Invitations (2)", invitations_path
        %li
          = link_to "Contacts", contacts_path
        %li.right{ id: "" }
          = link_to "Logout", destroy_user_session_path, method: :delete
        %li.has-flyout.right#about
          = link_to "Profile", profile_path
          %a{ href: "#", class: "flyout-toggle"}
            %span
          %ul.flyout
            %li
              = link_to "Informations", profile_informations_path
            %li
              = link_to "Passwords", edit_user_registration_path

= render "shared/search"