.fullContent
  .row
    .twelve.columns
      %nav.top-bar
        %ul
          / Title Area
          %li.name
            %h1
              = link_to "Coach App", root_path
          %li.toggle-topbar
            %a{:href => "#"}
        %section
          / Left Nav Section
          %ul.left
            %li.divider
            %li
              = link_to "Messages", messages_path
            %li
              = link_to "Invitations (#{current_user.invitation_requests.where(status: "expectant").count})", invitations_path
            %li
              = link_to "Calendar", calendar_path
            %li
              = link_to "Contacts", contacts_path
            %li.searcher
              = render "shared/search"
          / Right Nav Section
          %ul.right
            %li.divider.show-for-medium-and-up
            %li.has-dropdown
              = link_to "Profile", profile_path
              %ul.dropdown
                %li
                  = link_to "Informations", profile_informations_path
                %li
                  = link_to "Passwords", edit_user_registration_path
            %li.divider
            %li{ id: "" }
              = link_to "Logout", destroy_user_session_path, method: :delete