.six.columns
  Welcome
.six.columns
  = form_tag search_path do
    = label_tag 'location[city]', "City"
    = text_field_tag "location[city]"
    %br
    = label_tag "discipline[name]", "Discipline"
    = text_field_tag "discipline[name]"
    %br
    = submit_tag "Serach", id: "place_search"