.six.columns
  Welcome
.six.columns
  = form_tag search_path do
    = label_tag 'city', "City"
    = text_field_tag "city"
    %br
    = label_tag "discipline", "Discipline"
    = text_field_tag "discipline"
    %br
    = submit_tag "Serach", id: "place_search"