.row
  %aside.four.columns
    %h4 Opening data
    %p I don't think we need something here (Michał)

  .eight.columns
    %h1 Invitation

    - if @invitation.training
      %p= "#{@invitation.inviting.name} want to add you to training."
    - else
      %p= "#{@invitation.inviting.name} want to add you to contacts."

    = form_for @invitation, method: :put do |f|
      = f.hidden_field :status, value: 'accepted'
      = f.submit "Accept"

    = form_for @invitation, method: :put do |f|
      = f.hidden_field :status, value: 'rejected'
      = f.submit "Reject"