%h1 Invitation

%p= "#{@invitation.inviting.player.name} want to add you to contacts."

= form_for @invitation, method: :put do |f|
  = f.hidden_field :status, value: 'accepted'
  = f.submit "Accept"

= form_for @invitation, method: :put do |f|
  = f.hidden_field :status, value: 'rejected'
  = f.submit "Reject"