#loginForm.twelve.columns.whitebg
  %h1 Login form:
  .seven.columns.centered.end
    = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      .row
        %label.left.inline{ for: "username" } Username:
        = f.input :email, required: false, autofocus: true, label: false
      .row
        %label.left.inline{ for: "password"} Password:
        = f.input :password, required: false, label: false
      .row
        %label.left.inline{ for: "user[remember_me]" } Remember me:
        - if devise_mapping.rememberable?
          = f.input :remember_me, as: :boolean, label: false  
      .row
        = f.button :submit, "Login", class: "nice button center"

      = render "devise/shared/links"

