!!!
-# <!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
-# <!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
%html
  %head
    %meta{ :charset => "utf-8" }

    - # Set the viewport width to device width for mobile
    %meta{ :name => "viewport", :content => "width=device-width" }

    %title Login
    %link{ :href => 'http://fonts.googleapis.com/css?family=Ubuntu+Condensed', :rel => 'stylesheet', :type => 'text/css' }
    %link{ :href => 'http://fonts.googleapis.com/css?family=Ubuntu:400,500,700', :rel => 'stylesheet', :type => 'text/css' }
    
    -# <!-- Included CSS Files (Compressed) -->
    = stylesheet_link_tag href="foundation.min.css"
    = stylesheet_link_tag href="app.css"

    = javascript_include_tag "modernizr.foundation.js"

  %body#loginContainer
    .fullContent.NavMore
      .row
        .twelve.columns
          %nav.top-bar
            %ul
              / Title Area
              %li.name
                %h1
                  = link_to "Coach App", root_path
              %li.toggle-topbar
                %a{:href => "#"}
            %section
              / Right Nav Section
              %ul.right
                %li{ id: "" }
                  = link_to "Login", new_user_session_path
    .row
      #loginForm.twelve.columns.whitebg
        %h1 Login form:

        -#
          %h2 Sign in
          .seven.columns.centered.end
            = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
              .form-inputs
                = f.input :email, :required => false, :autofocus => true
                = f.input :password, :required => false
                = f.input :remember_me, :as => :boolean if devise_mapping.rememberable?

              .form-actions
                = f.button :submit, "Login"

            = render "devise/shared/links"
        .seven.columns.centered.end
          = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
            .row
              %label.left.inline{ for: "username" } Username:
              = f.input :email, required: false, autofocus: true, label: false
            .row
              %label.left.inline{ for: "password"} Password:
              = f.input :password, required: false, label: false
            .row
              %label.left.inline{ for: "user[remember_me]" } Remember me:
              - if devise_mapping.rememberable?
                = f.input :remember_me, as: :boolean, label: false  
            .row
              = f.button :submit, "Login", class: "nice button center"

            = render "devise/shared/links"

    -# <!-- Included JS Files (Uncompressed) -->
    = javascript_include_tag "jquery.js"
    = javascript_include_tag "jquery.foundation.mediaQueryToggle.js"
    = javascript_include_tag "jquery.foundation.forms.js"
    = javascript_include_tag "jquery.foundation.reveal.js"
    = javascript_include_tag "jquery.foundation.orbit.js"
    = javascript_include_tag "jquery.foundation.navigation.js"
    = javascript_include_tag "jquery.foundation.buttons.js"
    = javascript_include_tag "jquery.foundation.alerts.js"
    
    -# <!-- Included JS Files (Compressed) -->
    = javascript_include_tag "jquery.js"
    = javascript_include_tag "foundation.min.js"
    = javascript_include_tag "jquery.foundation.forms.js"
    
    -# <!-- Initialize JS Plugins -->
    = javascript_include_tag "app.js"
  
    :javascript
      $(window).load(function(){
        $("#featured").orbit({
          animation: 'fade'
        });
      });
    
