.row
  .twelve.columns
    %h1 User profile

    - unless @player == current_player
      = button_to "Add to friends", person_invitations_path(@player.user)

      = button_to "Add to training", training_person_invitations_path(@player.user, training: true)

    %p= @player.first_name
    %p= @player.last_name
    %p= @player.city

- if current_user.is_coach? && current_player.trained_players.include?(@player)
  %h3 Parameters
  %ul
    - @player.parameters.each do |parameter|
      %li= parameter.height
      %li= parameter.weight

  %h3 Prohibitions (przeciwskazania)
  %ul
    - @player.prohibitions.each do |prohibition|
      %li= prohibition.name