.row
  %h1 Profile
  .seven.columns.centered.end
    = simple_form_for(@user, :url => registration_path(@user), :html => { :method => :put }) do |f|
      = f.error_notification
      .form-inputs
        = f.input :email, :required => true, :autofocus => true
        = f.input :current_password, :hint => "we need your current password to confirm your changes", :required => true
        = f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false
        = f.input :password_confirmation, :required => false
      %ul.button-group.radius
        %li
          = link_to "Back", :back, :class => "radius button"
        %li
          = f.button :submit, "Save", :class => "radius button"

.row
  %h2 Informations
  = render 'shared/user_information', url: profile_update_path