!!!
%html
  %head
    %title BooksExchange
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag    "coach", :media => "all"
    = javascript_include_tag "application"
    = javascript_include_tag "coach"
    = csrf_meta_tags
  %body
    = render "shared/notice"

    %p= "Welcome #{current_user.name}"
    = link_to "Logout", destroy_user_session_path, method: :delete
    = render "shared/search"
    %hr

    = yield