!!!
%html
  %head
    %title BooksExchange
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag    "user", :media => "all"
    = javascript_include_tag "application"
    = javascript_include_tag "user"
    = csrf_meta_tags
  %body
    = render "shared/header"

    = render "shared/notice"

    %hr

    = yield