!!!
%html
  %head
    %title BooksExchange
    = stylesheet_link_tag    "welcome", :media => "all"
    = javascript_include_tag "welcome"
    = csrf_meta_tags

  %body
    .row
      = render partial: "shared/notice"

      = link_to "Sign up", new_user_registration_path
      = link_to "Login", new_user_session_path

      %hr